body{
    background-color: black;
    color: white;
}

h1{
    font-size: 30;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}

td{
    color: blueviolet;
}

